.l-header {
    position: fixed;
    width: 100%;
    background-color: $navBlack;
    color: $white;
    top: 0;
    left: 0;
    z-index: 4;

    &__wrapper {
        @include flex(flex, center, space-between);
        max-width: 1170px;
        height: 80px;
        margin: 0 auto;
        position: relative;
        padding: 15px 20px;
        transition: .5s all ease-in-out;

        &--sticky {
            height: 55px;
        }
    }
}


//media quaries
// screen > 640px
@mixin l-header\@screen_small {
    .l-header {

        &__wrapper {
            padding: 15px 50px;
        }

    }
}