.c-card {
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 290px;
    margin: 0.5rem;
    flex: auto;
    overflow: hidden;
    display: none;

    &::after {
        @include pseudo;
        @include size(100%);
        top: 0;
        left: 0;
        background-color: $blue;
        opacity: 0;
        transition: .9s all ease-in-out;
    }


    &:hover {
        &::after {
            opacity: 0.8;
        }

        .c-card__img {
            transform: scale(1.2);
        }

        .c-card__text {
            opacity: 1;
            z-index: 1;
        }
    }

    &--show {
        display: block;
    }


    &__img {
        @include pseudo;
        @include size(100%);
        top: 0;
        left: 0;
        background-image: url('../img/portofolio/portofolio.jpg');
        background-size: cover;
        background-position: center center;
        transition: .9s all ease-in-out;
    }


    &__text {
        @include pseudo;
        @include size(100%);
        @include flex(flex, center, center, column);
        top: 0;
        left: 0;
        color: $white;
        opacity: 0;
        transition: .9s all ease-in-out;
    }


    &__title {
        font-size: $mediumFontSize;
        padding-bottom: 22px;
    }

    &__description {
        font-size: $smallFontSize;
        margin: 0 50px;
    }

    &__icon {
        padding-top: 25px;
        color: $white;
        filter: invert(1);
    }
}


//media quaries
// screen > 640px
@mixin c-card\@screen_small {
    .c-card {

        width: calc(50% - 1rem);
    }
}


// screen > 1024px
@mixin c-card\@screen_wide {
    .c-card {

        width: calc((100% / 3) - 1rem);
    }
}