.c-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 370px;
    min-height: 290px;
    background-color: $gray;
    // margin: 13px 0;
    margin: 0.5rem;

    &:nth-child(1) {
        background-color: $blue;
    }


    &__text {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }


    &__title {
        font-size: $mediumFontSize;
        padding-bottom: 22px;
    }

    &__description {
        font-size: $smallFontSize;
        margin: 0 50px;
    }

    &__icon {
        padding-top: 25px;
        color: $white;
        filter: invert(1);

    }
}


//media quaries
// screen > 640px
@mixin c-card\@screen_small {
    .c-card {

        width: calc(50% - 1rem);
    }
}


// screen > 1024px
@mixin c-card\@screen_wide {
    .c-card {

        width: calc((100% / 3) - 1rem);

    }

}