.c-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    &__adress {
        text-align: left;
        margin-bottom: 40px;


    }

    &__title {
        font-size: $baseFontSize;
        margin-bottom: 20px;
    }

    &__subtitle {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        // width: 100%;

        &--icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            filter: invert(1);
        }
    }

    &__social {
        // margin-top: 50px;
        margin-top: 35px;
        width: 150px;
        display: flex;
        justify-content: space-between;

        &--icon {
            text-align: center;
            line-height: 35px;
            display: inline-block;
            // margin: 0 10px;
            width: 35px;
            height: 35px;
            background-color: #fcf3ff;
            border-radius: 50%;
            transition: .5s all;


            &>svg {
                filter: invert(2);
                width: 100%;
            }

            &:hover {
                background-color: #505050;

            }
        }
    }



    &__form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        width: 100%;
        max-width: 570px;


        &--inline {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }


    &__input {
        padding: 20px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;

        // &:nth-child(1) {
        //     margin-right: 20px;
        // }
    }

    &__text {
        padding: 20px;
        height: 160px;
        width: 100%;
        // margin: 20px 0;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
    }
}



//media quaries
// screen > 1024px
@mixin c-contact\@screen_wide {
    .c-contact {

        flex-direction: row;
        width: 100%;

        &__form {

            &--inline {

                flex-direction: row;
            }
        }

        &__input {
            width: 100%;

            &:nth-child(1) {
                margin-right: 20px;
            }
        }
    }
}