.c-contact {
    display: flex;
    justify-content: space-between;

    &__adress {
        text-align: left;


    }

    &__title {
        font-size: $baseFontSize;
        margin-bottom: 20px;
    }

    &__subtitle {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        // width: 100%;

        &--icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            filter: invert(1);

        }

    }

    &__social {

        margin-top: 50px;
        width: 150px;
        display: flex;
        justify-content: space-between;


        &--icon {
            text-align: center;
            line-height: 35px;
            display: inline-block;
            // margin: 0 10px;
            width: 35px;
            height: 35px;
            background-color: #fcf3ff;
            border-radius: 50%;
            transition: .5s all;


            &>svg {
                filter: invert(2);
                width: 100%;



            }

            &:hover {
                background-color: #505050;

                filter: invert(0);


            }
        }
    }


}