.c-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    &__box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 215px;
        height: 225px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__icon {
        height: 45px;
        width: 45px;
        color: $white;
        filter: invert(1);
    }

    &__text {

        &--title {
            line-height: 24px;
            margin-bottom: 14px;
        }

        &--subtitle {
            font-size: $smallFontSize;
            font-weight: 400;
        }
    }

}


//media quaries
// screen > 640px
@mixin c-features\@screen_small {
    .c-features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        margin: 0 auto;

        &__box {

            margin: 0 40px 40px;

            &:last-child {
                margin-bottom: 40px;
            }

        }
    }
}

// screen > 640px
@mixin c-features\@screen_wide {
    .c-features {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
        margin: 0 auto;

        &__box {

            margin: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}