.c-features {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 215px;

    }

    &__icon {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        filter: invert(1);
        margin-bottom: 20px;
    }

    &__title {
        line-height: 24px;
        margin-bottom: 14px;
    }

    &__subtitle {
        font-size: $smallFontSize;
        font-weight: 400;
        margin-bottom: 30px;

    }
}