.c-header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__title {
        padding-bottom: 17px;
        z-index: 3;
    }

    &__subtitle {
        padding-bottom: 17px;
        z-index: 3;
    }

    &__underline {
        text-align: center;
        width: 280px;
        border: 1px solid $white;
        margin-bottom: 70px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            background-color: $white;
            border-radius: 50%;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);

        }

        &::before {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            background-color: $white;
            border-radius: 50%;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }

        &--black {
            border-color: $black;

            &::before {
                background-color: $black;
            }

            &::after {
                background-color: $black;
            }

        }


    }

}