.c-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: $hugeFontSize;
        color: $white;
        font-weight: 700;
        padding-bottom: 35px;
    }

    &__subtitle {
        font-size: $mediumFontSize;
        color: $white;
        padding-bottom: 65px;
    }
}