.c-logo {
    cursor: pointer;

    &__txt {
        font-size: 24px;
        font-weight: 400;

        &--bold {
            font-size: 24px;
            font-weight: 700;

        }
    }

    &__copyright {
        margin-bottom: 20px;
    }
}