.c-opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 30px;

    &__image {
        margin-bottom: 30px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 80%;

    }



    &__quote {
        font-style: italic;
        line-height: 30px;
        margin-bottom: 25px;
        position: relative;

        &--quation::before {
            content: '" ';
            position: absolute;
            left: -35px;
            top: 0;
            font-size: 60px;
            line-height: 30px;
        }
    }

    &__author {
        text-align: left;
        font-size: $mediumFontSize;
        font-weight: 700;

    }

}




//media quaries
// screen > 768px
@mixin c-opinion\@screen_medium {
    .c-opinion {

        flex-direction: row;
        margin-bottom: 40px;

        &__text {
            align-items: flex-start;
            width: 100%;
            margin: 0 5%;
        }

        &__image {
            margin-bottom: 0;
        }
    }
}