.c-slider {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 130px;
    margin: 0 auto;

    &__dot {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: #323232;

    }



}