.l-header {
    position: fixed;
    width: 100%;
    background-color: $navBlack;
    color: $white;
    top: 0;
    left: 0;
    z-index: 4;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1170px;
        height: 80px;
        margin: 0 auto;
    }
}