.l-section {
    @include flex(flex, center, center column);
    text-align: center;
    position: relative;

    &--intro {
        padding-top: 80px;
        background-color: $introColor;
    }

    &--services {
        background-color: $blue;
        color: $white;

    }

    &--gray {
        position: relative;
        background-color: $gray;
        color: $white;

        &::after {
            @include pseudo;
            @include size(100%);
            top: 0;
            left: 0;
            background: url('../img/gray/pattern_parallax.png');
            opacity: 0.8;
        }
    }

    &--contact {
        background-color: $blue;
        color: $white;
    }

    &--footer {
        background-color: $introColor;
        color: #76777f;
    }
}