.l-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &--intro {
        padding-top: 80px;
        background-color: $introColor;

    }

    &--services {
        background-color: $blue;
        color: $white;
    }

    &--gray {
        position: relative;
        background-color: $gray;
        color: $white;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../img/gray/pattern_parallax.png');
            opacity: 0.8;
        }
    }

    &--contact {
        background-color: $blue;
        color: $white;
    }

    &--footer {
        background-color: $introColor;
        color: #76777f;
    }
}


//media quaries
// screen > 1024px

@mixin l-section\@screen_wide {}