.l-wrapper {
    max-width: 1192px;
    padding: 70px 25px;
    margin: 0 auto;
    width: 100%;

    //mobile
    display: flex;
    flex-direction: column;

    &--intro {

        // text-align: left;
        text-align: center;
        // padding: 40px 25px;
    }

    // &--services {
    //     margin: 70px 20px;
    // }

    &--gray {
        padding: 100px 0;
    }

    &--footer {
        margin: 50px auto;
    }

}


//media quaries
// screen > 1024px

@mixin l-wrapper\@screen_wide {
    .l-wrapper {

        &--intro {
            background-image: url('../img/intro/bg_img_slider.png');
            background-repeat: no-repeat;
            background-position: 35px 30px;
        }

        &--gray {
            padding: 190px 0 140px 0;
        }
    }
}