.l-wrapper {
    max-width: 1192px;
    padding: 70px 15px;
    margin: 0 auto;
    width: 100%;

    //mobile
    display: flex;
    flex-direction: column;
    align-items: center;

    &--intro {
        text-align: center;
        width: 95%;
    }



    &--gray {
        width: 90%;
        padding: 100px 0;
    }

    &--footer {
        padding: 30px;
    }

}


//media quaries
// screen > 1024px

@mixin l-wrapper\@screen_wide {
    .l-wrapper {

        &--intro {
            background-image: url('../img/intro/bg_img_slider.png');
            background-repeat: no-repeat;
            background-position: 35px 30px;
        }

        &--gray {
            padding: 190px 0 140px 0;
        }

        &--footer {
            padding: 50px;
        }
    }
}