.l-wrapper {
    max-width: 1192px;
    margin: 70px auto;
    width: 100%;

    &--intro {

        text-align: left;
    }

    &--services {
        margin: 70px 20px;
    }

    &--gray {
        margin: 190px 0 140px 0;
    }

    &--footer {
        margin: 50px auto;
    }

}