// Fonts
$sansSerif : 'Open Sans';

// Font Sizing
$giganticFontSize : 48px;
$hugeFontSize : 36px;
$largeFontSize : 30px;
$mediumFontSize : 24px;
$baseFontSize : 18px;
$smallFontSize : 14px;
$miniFontSize : 11px;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;

// Colors
$black : #323232;
$white : #ffffff;
$gray : #76777f;

// Spacing
$pad : 1em;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;