// Font Family
$fontFamily: "Open Sans",
sans-serif;

// Base Font and Color
$baseFontSize: 18px;
$baseColor: #ffffff;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;


// Font Sizing
$giganticFontSize: rem(48px);
$hugeFontSize: rem(36px);
$largeFontSize: rem(30px);
$mediumFontSize: rem(24px);
$smallFontSize: rem(14px);
$miniFontSize: rem(11px);


// Colors
$black : #323232;
$navBlack: #0d0b11;
$white : #ffffff;
$gray : #7b7b7b;
$introColor : #161828;
$btnColor : #ea5b58;
$servicesColor : #475a85;


// Buttons Styles
$buttonSize-large: rem(18px);
$buttonSize-mini: rem(11px);