.c-opinions {
    // margin: 0 auto;
    position: relative;

    // width: 1026px;
    width: 1192px;
    margin: auto;
    overflow: hidden;
    border: 1px solid black;



    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        // width: 6156px;
        width: 7152px;
        position: relative;

    }

}

.c-opinion {


    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    // margin-bottom: 30px;
    padding: 0 100px 30px;
    width: 25%;




    &__btn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 60px;
        pointer-events: visible;
        background-color: transparent;
        transform: translateY(-50%);
        border: none;
        transition: .3s ease-in-out;

        &:hover {
            color: $blue;
        }

        &--prev {

            left: 2%;

        }

        &--next {

            right: 2%;
        }
    }






    &__image {
        margin-bottom: 30px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 80%;

    }



    &__quote {
        font-style: italic;
        line-height: 30px;
        margin-bottom: 25px;
        position: relative;

        &--quation::before {
            content: '" ';
            position: absolute;
            left: -35px;
            top: 0;
            font-size: 60px;
            line-height: 30px;
        }
    }

    &__author {
        text-align: left;
        font-size: $mediumFontSize;
        font-weight: 700;

    }

}




//media quaries
// screen > 768px
@mixin c-opinion\@screen_medium {
    .c-opinion {

        flex-direction: row;
        margin-bottom: 40px;

        &__text {
            align-items: flex-start;
            width: 100%;
            margin: 0 5%;
        }

        &__image {
            margin-bottom: 0;
        }
    }
}