@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


.c-opinion {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10% 8%;

    &__image {
        margin-bottom: 30px;
    }

    &__quote {
        font-style: italic;
        line-height: 30px;
        margin-bottom: 25px;
        position: relative;
        text-align: justify;

        &--quation::before {
            content: '" ';
            position: absolute;
            left: -35px;
            top: 0;
            font-size: 60px;
            line-height: 30px;
        }
    }

    &__author {

        text-align: center;
        font-size: $mediumFontSize;
        font-weight: 700;
    }

    &__btn {
        font-size: 70px;
        color: #000;
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;

        //mobile
        display: none;

        &--left {
            left: 10px;
        }

        &--right {
            right: 10px;
        }
    }

    &__dots {
        bottom: 0;
    }
}



//media quaries
// screen > 768px
@mixin c-opinion\@screen_medium {
    .c-opinion {

        flex-direction: row;
        margin-bottom: 40px;
        padding: 0 5% 5%;

        &__text {
            align-items: flex-start;
            width: 100%;
            margin: 0 5%;
        }

        &__author {
            text-align: left;
        }

        &__image {
            margin-bottom: 0;
        }
    }
}


//screen > 1024px
@mixin c-opinion\@screen_wide {
    .c-opinion {
        padding: 0 90px 30px;

        &__btn {
            display: block;
        }

        &__dots {
            bottom: 2em;
        }
    }
}